body {
  padding: 0%;
  margin: 0%;
}

p, a, h2, h3 {
  font-family: "Roboto", sans-serif;
  color: black;
}

h1 {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
}

/*$dark-green*/
/*$ligth-blue*/
/*$ligth-green*/
/*$dark-blue*/
header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
  padding: 14px 0 5px 0;
}
header .logo {
  width: 50%;
  display: block;
  margin: 0 auto;
  align-items: center;
}

FOOTER {
  background-color: black;
  color: white;
  padding: 4% 0 4% 25px;
}
FOOTER ul {
  list-style-type: none;
  padding-left: 0px;
}
FOOTER h3 {
  color: white;
  font-family: "Shrikhand";
}
FOOTER a {
  color: white;
}

.presentation {
  background-color: #D2D2D2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.presentation h2 {
  padding-top: 40px;
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
}
.presentation P {
  padding-bottom: 27px;
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
}

.search {
  width: 100%;
  background-color: #EAEAEA;
  padding: 15px 0;
  display: flex;
  justify-content: center;
}
.search input {
  background-color: transparent;
  border: none;
  width: 25%;
}
.search ::placeholder {
  color: black;
  opacity: 1;
}

.container_fonctionnement {
  width: 90%;
  margin: 0 auto;
}
.container_fonctionnement .fonctionnements .fonctionnement-item {
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding-top: 28px;
  padding-bottom: 28px;
  margin-bottom: 24px;
}
.container_fonctionnement .fonctionnements .number {
  background-color: #9356DC;
  padding: 4px 8px;
  border-radius: 50%;
  margin-left: -10px;
}
.container_fonctionnement .fonctionnements i {
  padding: 0 23px;
}
.container_fonctionnement .fonctionnements .titre {
  font-weight: 600;
  font-size: 16px;
}
.container_fonctionnement .fonctionnements #icone_magasin {
  color: #9356DC;
}

.container_restaurants {
  background-color: #D2D2D2;
  display: flex;
  flex-direction: column;
  padding-left: 4%;
  padding-right: 4%;
}
.container_restaurants .carte {
  width: 100%;
  height: 251px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}
.container_restaurants .carte img {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.container_restaurants .carte span {
  position: absolute;
  top: 3%;
  right: 3%;
  padding: 0.5%;
  background-color: #99E2D0;
}
.container_restaurants .carte h3 {
  padding-left: 16px;
  margin-top: 10px;
  margin-bottom: 1px;
}
.container_restaurants .carte p {
  padding-left: 16px;
  margin: 6px 0;
}
.container_restaurants .like {
  padding-left: 85%;
  margin-top: -40px;
}
.container_restaurants .liked {
  padding-left: 85%;
  margin-top: -40px;
}

.like .fa-regular.fa-heart {
  opacity: 1;
  position: relative;
  font-size: 24px;
}
.like .fa-regular.fa-heart:hover .fa-solid.fa-heart {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(193.33deg, #a36fe1 -11.44%, #ff98e2 123.93%);
  transform: scale(1);
  opacity: 1;
}
.like .fa-regular.fa-heart .fa-solid.fa-heart {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: scale(0);
  transition: all 1ms ease-in-out;
}
.like .fa-solid.fa-heart {
  opacity: 0;
}

.check {
  background-color: #99E2D0;
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  width: 0%;
  opacity: 0;
  border-radius: 0 15px 15px 0;
  transition: all 4s ease-in-out;
}

.menu_card {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding-left: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  transition: all 4s ease-in-out;
}
.menu_card:hover {
  transition: all 4s ease-in-out;
}
.menu_card:hover .check {
  display: flex;
  opacity: 1;
  width: 20%;
  transition: all 4s ease-in-out;
}
.menu_card .content {
  transition: all 4s ease-in-out;
}
.menu_card .content h3 {
  margin-top: 12px;
  margin-bottom: 0%;
  transition: all 2s ease-in-out;
}
.menu_card .content p {
  margin-top: 0%;
  margin-bottom: 12px;
  transition: all 2s ease-in-out;
}
.menu_card .price {
  transition: all 4s ease-in-out;
  display: flex;
  align-items: flex-end;
}

button {
  margin: 0 75px 57px 82px;
  padding: 13px 19px;
  color: white;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex;
  justify-content: center;
}
button:hover {
  background-image: linear-gradient(193.33deg, #a36fe1 -11.44%, #ff98e2 123.93%);
}

.img_head {
  width: 100%;
  position: relative;
}

.menu {
  background-color: #F6F6F6;
  z-index: 2;
  position: relative;
  padding: 5% 5% 0 5%;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
}
.menu .menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
