FOOTER{
    background-color: black;
    color: white;
    padding: 4% 0 4% 25px;
    ul{
        list-style-type: none;
        padding-left: 0px;
    }
    h3{
        color: white;
        font-family: 'Shrikhand';
    }
    a{
        color: white;

    }
    .aide{
        font-weight: 500;
    }

    .icons{
        width: 23px;
        height: 13px;
        font-size: 13px;

    }

    }
    