body{
    padding: 0%;
    margin: 0%;
}
    p,a,h2,h3{
        font-family: 'Roboto', sans-serif;
        color: black;

    }
    h1{
        font-family: 'Shrikhand', cursive;
    }
    a{
        text-decoration: none;
    }

    $dark-green:#008766; /*$dark-green*/
    $ligth-blue:#89C8FA; /*$ligth-blue*/
    $ligth-green:#99E2D0;  /*$ligth-green*/
    $dark-blue:#003A68; /*$dark-blue*/
