.check{
    background-color: #99E2D0;
    color: white;
    
    align-items: center;
    justify-content: center;
    width: 0%;
    opacity: 0;
    border-radius: 0 15px 15px 0;
    transition: all 500ms ease-in-out;
    display: flex;
}