.container_fonctionnement{
    width: 90%;
    margin: 0 auto;
    
    .fonctionnements{
        
        .fonctionnement-item{
            background: #F7F7F7;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            padding-top: 28px;
            padding-bottom: 28px;
            margin-bottom: 24px;
        }
        .number{
            background-color: #9356DC;
            padding: 4px 8px;
            border-radius: 50%;
            margin-left: -10px;
        }
        .write{
            color: white;
        }
        i{
            padding: 0 23px;
        }
        .titre{
            font-weight: 600;
            font-size: 16px;
        }
        #icone_magasin{
            color: #9356DC;
        } 
    }
    
}

@media screen and (min-width: 768px){
    .container_fonctionnement{
        .fonctionnements{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .fonctionnement-item{
                width: 48%;
            }
        
        }

    }
}

@media screen and (min-width: 1200px){
    .container_fonctionnement{
        width: 80%;
        .fonctionnements{
            padding-bottom: 2%;
        
            .fonctionnement-item{
                width: 30%;
            }
        
        }

        h2{
            padding: 2% 0;
        }

    }

}