.like{
    .fa-regular.fa-heart{
        opacity: 1;
        position: relative;
        font-size: 24px;
        &:hover{
            .fa-solid.fa-heart{
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                background-image: linear-gradient(193.33deg, lighten(#9356DC,6%) -11.44%, lighten(#FF79DA,6%) 123.93%);
                transform: scale(1);
                opacity: 1;
            }
        }
        .fa-solid.fa-heart{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            transform: scale(0);
            transition: all 500ms ease-in-out;
        }
    }
    .fa-solid.fa-heart{
        opacity: 0;
    }
}

@media screen and (min-width: 990px){
    .like{
        .fa-regular.fa-heart{
            font-size: 22px;
            padding-left: 20px;
        }
        .fa-solid.fa-heart{
            padding-left: 20px;
        }
    }

}

@media screen and (min-width: 1200px){
    .like{
        .fa-regular.fa-heart{
            font-size: 26px;
            padding-left: 20px;
        }
    }

}