/*
// ========== Theme colors ==========
$Primary-color: #9356DC;
$Secondary-color: #FF79DA ;
$Tertiary-color: #99E2D0;

// =============== MIXIN ===============
@mixin flex(
$direction: initial,
$justify: initial,
$align: initial,
$gap: initial
) {
display: flex;
flex-direction: $direction;
justify-content: $justify;
align-items: $align;
gap: $gap;
}

*, ::before, ::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
position: relative;
margin: auto;  
height: 100vh;
inset: 0;
background: url(https://images.unsplash.com/photo-1471253794676-0f039a6aae9d?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDE0MjQ2OTF8&ixlib=rb-4.0.3&q=85);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
}

main {
z-index: 0;
margin: auto;
}

//=============== LOADER ===============
.loader {
position: fixed;
display: grid;
place-items: center;
height: 100vh;  
inset: 0;
z-index: 2;
border-radius: 5px;
animation: loading 300ms forwards;
animation-delay: 4s;
transform-origin: center;  


// Style d'arrière plan du loading 
// source : https://youtu.be/3HRvb2tLqF4?si=dAvqkS3wlmoNzTr4 
&__background--glass {
height: 100vh;
width: 100vw;
@include flex ($align: center);
background: linear-gradient(
135deg,
rgba(255, 255, 255, 0.1),
rgba(255, 255, 255, 0)
);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border-radius: 20px;
border: 1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

//  Style d'animation de cercle 
// source : https://youtu.be/U3hCPkV9SnU?si=dl3_HEngwzSLMRHx  
&__circle {
margin: auto;
width: 250px;
height: 250px;
border-radius: 50%;
border: 7px solid transparent;
border-top-color: $Primary-color;
animation: circle 2s linear infinite;
}

&__circle::before,
&__circle::after {
content: "";
position: absolute;
border-radius: 50%;
border: 7px solid transparent;
}

&__circle::before {
top: 10px;
left: 10px;
right: 10px;
bottom: 10px;
border-top-color: $Secondary-color;
animation: circle 3s linear infinite;
}

&__circle::after {
top: 25px;
left: 25px;
right: 25px;
bottom: 25px;
border-top-color: $Tertiary-color;
animation: circle 1.5s linear infinite;
}
}


@keyframes circle {
0% {
transform: rotate(0deg);
} 
100% {
transform: rotate(360deg);
}
}

@keyframes loading {
0% {
transform: scale(1);
}
100% {
transform: scale(0);
display: none;
}
}

*/
