.menu_card{
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding-left: 12px;
    margin-bottom: 12px;
    display: flex;
    transition: all 1s ease-in-out;
    &:hover{
        .content{
        //    / width: 60%;*/
        }
        .check{
            display: flex;
            opacity: 1;
            width: 20%;
            transition: all 1s ease-in-out;
        }
    }
    .content{
        width: 80%;
        h3{
            margin-top: 12px;
            margin-bottom: 0%;
        }
        p{
            margin-top: 0%;
            margin-bottom: 12px;
        }

    }
    .price{
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    
}