.presentation{
    background-color: #f6f6f6 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h2{

        padding-top: 40px;
        text-align: center;
        padding-left: 7%;
        padding-right: 7%;
    }
    P{
        padding-bottom: 27px;
        text-align: center;
        padding-left: 7%;
        padding-right: 7%;
    }

   
}

@media screen and (min-width: 768px){
    .presentation h2{
        padding-top: 20px;
        font-size: 25px;
    }

}

@media screen and (min-width: 990px){
    .presentation h2{
        padding-top: 0px;
        font-size: 32px;
        font-weight: 700;
    }
    .presentation P{
        font-size: 25px;

    }

}
@media screen and (min-width: 1200px){
    .presentation h2{
        padding-top: 0px;
        font-size: 40px;
        font-weight: 700;
    }
    .presentation P{
        font-size: 16px;

    }

}