.search{
    width: 100%;
    background-color: #EAEAEA;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    input{
        background-color: transparent;
        border: none;
        width: 25%;
    }
    ::placeholder{
        color: black;
        opacity: 1;
    }
}